#rootNode{
    -fx-background-color: rgb(255, 250, 240);
}
.menuPrincipalButton{
    -fx-background-color: blue;
    -fx-text-fill: white;
}
.menuPrincipalButton: hover{
    -fx-background-color: #87CEEB;
}
